# source for other packages
src/

# compiled files
*.pyc

# cache
__pycache__/
.cache/

#distribution files
build/
dist/
*.egg-info

# test results
tests/reports/

# coverage file
.coverage*

# .rst-formatted README
README.rst

# compiled documentation
docs/source
docs/_build

# credentials
tests/fixtures/secret/
