bs4
cement
configparser
google-api-python-client
httplib2
oauth2client
pbr # needed by sphinxcontrib-spelling and must be installed first for Python 2
PyOpenSSL
six
Sphinx >= 1.6
sphinx_rtd_theme
sphinxcontrib-bibtex
robpol86-sphinxcontrib-googleanalytics
sphinxcontrib-spelling
