beautifulsoup4
cement
configparser
google_api_python_client
httplib2
oauth2client
pyopenssl
six
sphinx >= 1.7
sphinx_rtd_theme
sphinxcontrib_bibtex
robpol86_sphinxcontrib_googleanalytics
sphinxcontrib_spelling
