bs4
cement
configparser
google-api-python-client
httplib2
oauth2client
PyOpenSSL
six
Sphinx >= 1.6
sphinx_rtd_theme
sphinxcontrib-bibtex
robpol86-sphinxcontrib-googleanalytics
sphinxcontrib-spelling; python_version >= '3.0'
